[global]
   workgroup = WORKGROUP
   server string = Samba Server %v
   netbios name = ubuntu
   security = user
   map to guest = bad user
   dns proxy = no

[{{ samba_share_name }}]
   path = {{ samba_share_path }}
   browsable = yes
   writable = yes
   guest ok = no
   read only = no
   valid users = @{{ samba_group }}
   force group = {{ samba_group }}
   create mask = 0660
   directory mask = 0770
   comment = {{ samba_share_comment }}
